

<div class="col-md-10"><!-- top-->







  <div class="container col-md-12 textbox ">
    <div class="background">
      <h3>COME AND SEE!</h3>
      <p> THE GREAT OUTDOORS and the STARS and SWEET FRESH AIR are not far from your door
      with year-round guided exotic bow hunting at beautiful Deep Water Ranch. We’re 30 minutes from
      Fort Worth and just under an hour from Dallas. Axis and Fallow deer hunts are available from
      affordable hunts to trophy quality. Limited dove and turkey hunting is available in season
      upon special arrangement. Is there a kind of exotic animal hunt you would like to experience?
      We can bring it to you right here at Deep Water Ranch. Special deposits may be required for
      custom hunts.</p>
  </div>
<br>
</div>


  <div class="container col-md-12 textbox ">
    <div class="background">
      <h3>Where you would stay</h3>
    <p>  For overnight groups (when available), the spacious Red Barn (don’t worry it has AC, heat, bathrooms and a kitchen)
      sleeps 10 in fold out futons and bunk beds. Ask to have us quote you a price based on season and group size. Tent
      camping is also available for overnight guests. No indoor smoking is allowed!</p>

      <h3>What aminities we offer</h3>
<p>There are Hunting stands placed in various places on the property. We also provide a refridgerator, Ice and a pool table in the barn. If you're interested you can also ask us about fishing on one of the three ponds on the property</p>



      <h3>What things you should bring</h3>
      <p>Bring all your gear for your hunt and a current hunting license for the fishing,
      dove or turkey season. If you’re staying in the Red Barn, bring a sleeping bag, pillow and your own towel to take
      back home with you. Bring food and expect a cleanup fee also based on numbers of people and how long you stay.</p>


  </div>
<br>
</div>
