<div class="col-md-10"><!-- top-->





  <div class="container col-md-12 textbox ">
    <div class="background">
      <h3>About the ranch</h3>
    <p>   Deep Water Ranch was founded in 1997 by the Allen Family and has been a place where family and friends have gathered to enjoy each other and the great outdoors for many years!</p>

<br>
    <p>   It wasn’t always this beautiful but over the years, with hard work and visionary tenacity the ravaged property that was strip mined and
      neglected has been restored to its former state of wilderness. Like the song, it is a home, home on the range where the deer and the antelope play; where seldom is heard a
      discouraging word and the skies are not cloudy all day (except when rain is needed). There is a restoration of the land still going on with a vision for sustainable
      farming and ranching that respects and cares for the animals and the land. We have opened up this treasure of an experience to your family because we desire that
      more people could experience the joy of the presence of nature.
      </p>



  </div>
<br>

</div>
