



<ul class="nav nav-pills navbar-dark bg-dark">

  <li class="nav-item">
    <a class="nav-link" routerLink="/Home" >HomePage</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/AboutUs" >About Us</a>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Camping</a>
    <div class="dropdown-menu">
      <a class="dropdown-item"  routerLink="/Camping">What We Offer</a>
      <a class="dropdown-item"  routerLink="/CampingRequestBooking">Request Booking</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item"  routerLink="/Calender">See Calender</a>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">Bow Hunting</a>
    <div class="dropdown-menu">
      <a class="dropdown-item"  routerLink="/BowHunting">What We Offer</a>
      <a class="dropdown-item"  routerLink="/BowHuntingRequestBooking">Request Booking</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item"  routerLink="/Calender">See Calender</a>
    </div>
  </li>




  <li class="nav-item">
    <a class="nav-link" routerLink="/Contact" >Contact Us</a>
  </li>


</ul>





<div class="col-md-8"><!-- top-->



      <!-- Nav Bar end-->
  <div class="background2 ">
  <div class="row">
        <div class="col-md-12">
                <img class= "imgDWR logo" src="src\assets\logo full pic.jpg">
        </div>
  </div>
  </div>

<router-outlet></router-outlet>






















<footer class="fcontainer "><!-- footer-->
  <div class="col-md-3 fborder1"></div>
  <div class="col-md-6 fborder2"><a href="https://goo.gl/maps/HaQt7oSxP1p">2777 Allen Trail, Burleson TX</a></div>
  <div class="col-md-3 fborder3">
      <p><small>Deep Water Ranch &copy; 2017</small></p>
  </div>
</footer><!-- end of footer-->
