

<div class="col-md-10"><!-- top-->





  <div class="container col-md-12 textbox ">
    <div class="background">
      <h3>COME AND SEE!</h3>
<p>  Travel past the concrete city and over the railroad tracks and come and experience the Presence of Nature! See the beautiful herds of wild deer and pet some of the tame animals.
  Great Blue Herons, Hawks, dove and wild turkeys all call Deep Water Ranch their home. Fish in the three-acre lake or one of our ponds if you like, then settle in by the fire after
  cooking outside and have a good night sleep in your sleeping bags and tents. The crickets are the noise you hear most of the time though you may hear a train whistle but you can
  still hear the crickets at the same time.</p>
  </div>
<br>
</div>


  <div class="container col-md-12 textbox ">
    <div class="background">
      <h3>Where you would stay</h3>
<p>You can set up your camping equipment at one of our primitive camp site locations. You are welcome to start a fire in any of the designated fire areas and gather dead wood for fuel.</p>

      <h3>What aminities we offer</h3>
<p>A cleared camp site, biodegradeble dish soap and a bucket of wash water used to extinguish the fire upon exit,
fire ring and grate (if there’s no burn ban), firewood supplied upon request and for market price.</p>

      <h3>What things you should bring</h3>
<p>tent, ground cover tarp, cooler with food, drinking water, toiletries, flashlights, layers of
clothing for cooler nights, mosquito repellant, close toed shoes, earplugs if the crickets are too noisy,</p>


  </div>
<br>
</div>
